.navigation-container1 {
  display: contents;
}
 
.navigation-thq-navigation-icon-light-elm1 {
  display: none;
}
 
.navigation-thq-navigation-icon-dark-elm1 {
  display: none;
}
 
.navigation-thq-navigation-icon-light-elm2 {
  display: none;
}
 
.navigation-thq-navigation-icon-dark-elm2 {
  display: none;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
